@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lobster&display=swap');
*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #444141;
}
.card{
    width:90%;
    max-width: 70vw;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color:#ffffff;
    margin: 100px auto 0px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}
.search{
    /* border-radius: 20px; */
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
color: #555;
padding: 10px 25px;
height: 60px;
border-radius: 30px;

flex:1;
margin-right: 16px;
font-size: 20px;
}
.search button img{
    width: 16px;
  

}
.search button{
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: #ebfffc;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.search button:hover{
    background-color: #fff;

}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 20px;
}
.col{
display: flex;
/* justify-content: center; */
align-items: center;
text-align: left;
padding: 20px;
}
.weather-icon{
    width:20vw;
    margin-top: 2.5vh;
}
.temp{
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 1.5vh;
}
.city{
    font-size: 40px;

    margin-bottom: 2vh;
}
.col div{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-left: 3vw;
    font-size: 19px;
}
.wind{
    color: #444141;
    font-size: 29px;
}
.humidity{color: #444141;
font-size: 29px;}
.col img{
    width: 9vw;
}
.weather{
    display: none;
}
@media(max-width:716px){
    .card{
        width: fit-content;
        padding: 10px;
    }
    .col img{
        width: 5vw;
    }
    .humidity,.wind{
        font-size: 15px;
    }
    .search button{
        width: 20px;
        height: 30px;
    }
    #searchinput{
        width:45vw;
    }
    .col div{
        font-size: 10px;
        margin-left: 1vw;
    }
    .col{
        padding: 5px;
    }
    .errormessage{
        font-size: 10px;
    }
}
.errormessage{
    margin-top: 2vh;
    text-align: left;
    margin-left: 2vw;
    font-size: 15px;
display: none;
color: red;
}